@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-brand-white: #fff7f5;
    --color-brand-black: #222020;
    --color-brand-primary-light: #d8745f;
    --color-brand-primary: #d8745f;
    --color-brand-primary-dark: #9a3723;
    --color-brand-tertiary: #e9c5bd;
    --color-brand-grey: #6c6868;
    --color-brand-secondary: #ffbc5c;

    --font-display: "Calistoga", serif;
    --font-text: "Roboto", sans-serif;

    --gradient-primary: linear-gradient(
        180deg,
        var(--color-brand-primary-light) 0%,
        var(--color-brand-primary-dark) 100%
    );

    --drop-shadow-img: 0 4px 4px rgba(0, 0, 0, 0.25);
}

:root {
    font-family: var(font-text);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: var(--font-display);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.scrollbar-always {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}
.scrollbar-always::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}
.scrollbar-always::-webkit-scrollbar-thumb {
    background-color: var(--color-brand-grey);
    border-radius: 10px;
}
.scrollbar-always::-webkit-scrollbar-track {
    margin-top: 15px;
}
